# .env-example
# This file contains environment variables for the project.
# Replace the placeholder values with your actual credentials.

# API key for accessing OpenWeather services
OPENWEATHER_API_KEY=your_openweather_api_key

# Name of the AWS S3 bucket to be used
AWS_BUCKET_NAME=your_s3_bucket_name

# Flask secret key for session management
FLASK_SECRET_KEY=your_flask_secret_key
(It is an unique random string, can be generated using the following command:
=============================
1. Create a python file named generate_secret_key.py
2. copy the following code in the file and run it using python3 generate_secret_key.py
3. Copy the generated key and paste it in the .env file for FLASK_SECRET_KEY

*************************
import secrets

secret_key = secrets.token_hex(16)
print(secret_key)
*************************
=============================